# Copyright 2018-2026 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.10"

[buildpack]
  description = "A Cloud Native Buildpack that provides the UPX binary compression tool"
  homepage = "https://github.com/paketo-buildpacks/upx"
  id = "paketo-buildpacks/upx"
  keywords = ["upx", "compression"]
  name = "Paketo Buildpack for UPX"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/upx/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main"]
  pre-package = "scripts/build.sh"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:upx_project:upx:3.96.0:*:*:*:*:*:*:*"]
    id = "upx"
    name = "UPX (The Ultimate Packer for eXecutables)"
    purl = "pkg:generic/upx@3.96.0?arch=amd64"
    sha256 = "ac75f5172c1c530d1b5ce7215ca9e94586c07b675a26af3b97f8421b8b8d413d"
    source = "https://github.com/upx/upx/archive/refs/tags/v3.96.tar.gz"
    source-sha256 = "6882b4ea89c7a0ed74b86d3c0f1d07814b492eaf649b43ab8b4dfefa9e2d7387"
    stacks = ["*"]
    uri = "https://github.com/upx/upx/releases/download/v3.96/upx-3.96-amd64_linux.tar.xz"
    version = "3.96.0"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0-or-later"
      uri = "https://github.com/upx/upx/blob/devel/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:upx_project:upx:5.1.0:*:*:*:*:*:*:*"]
    id = "upx"
    name = "UPX (The Ultimate Packer for eXecutables)"
    purl = "pkg:generic/upx@5.1.0?arch=arm64"
    sha256 = "222dde34dfa3244a31b06c97820ee651515270e524736f532ac8456783afe76e"
    stacks = ["*"]
    uri = "https://github.com/upx/upx/releases/download/v5.1.0/upx-5.1.0-arm64_linux.tar.xz"
    version = "5.1.0"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0-or-later"
      uri = "https://github.com/upx/upx/blob/devel/LICENSE"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
